@font-face
{
    font-family: "Raleway";
    src: url(raleway/static/Raleway-Black.ttf) url(raleway/static/Raleway-BlackItalic.ttf) url(raleway/static/Raleway-BoldItalic.ttf) url(raleway/static/Raleway-Bold.ttf) url(raleway/static/Raleway-ExtraLight.ttf) 
    url(raleway/static/Raleway-ExtraLightItalic.ttf) url(raleway/static/Raleway-Italic.ttf) url(raleway/static/Raleway-Light.ttf) url(raleway/static/Raleway-LightItalic.ttf) url(raleway/static/Raleway-Medium.ttf) 
    url(raleway/static/Raleway-MediumItalic.ttf) url(raleway/static/Raleway-Regular.ttf) url(raleway/static/Raleway-SemiBold.ttf) url(raleway/static/Raleway-SemiBoldItalic.ttf) url(raleway/static/Raleway-Thin.ttf)
    url(raleway/static/Raleway-ThinItalic.ttf);
}

#activites
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin: 20px;
    height: 400px;
}
    
#activites div
{
    display: flex;
    max-height: 390px;
    border: solid white;
    border-radius: 10px;
    overflow: hidden;
}

#activites div:nth-child(1)
{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

#activites div:nth-child(2)
{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

#activites div:nth-child(3)
{
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#activites div:nth-child(4)
{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

#activites div:nth-child(5)
{
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

#vieuxport
{
    background-image: url("../Reservia/images/activites/2_large/vieuxport.jpg");
    background-size: 75% 75%;
    background-repeat: no-repeat;
    background-position: center;
}

#pomegues
{
    background-image: url("../Reservia/images/activites/2_large/pomegues.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#frioul
{
    background-image: url("../Reservia/images/activites/2_large/frioul.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#calanque
{
    background-image: url("../Reservia/images/activites/2_large/calanques.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#lagarde
{
    background-image: url("../Reservia/images/activites/2_large/lagarde.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#longchamp
{
    background-image: url("../Reservia/images/activites/2_large/longchamp.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}




