@font-face
{
    font-family: "Raleway";
    src: url(raleway/static/Raleway-Black.ttf) url(raleway/static/Raleway-BlackItalic.ttf) url(raleway/static/Raleway-BoldItalic.ttf) url(raleway/static/Raleway-Bold.ttf) url(raleway/static/Raleway-ExtraLight.ttf) 
    url(raleway/static/Raleway-ExtraLightItalic.ttf) url(raleway/static/Raleway-Italic.ttf) url(raleway/static/Raleway-Light.ttf) url(raleway/static/Raleway-LightItalic.ttf) url(raleway/static/Raleway-Medium.ttf) 
    url(raleway/static/Raleway-MediumItalic.ttf) url(raleway/static/Raleway-Regular.ttf) url(raleway/static/Raleway-SemiBold.ttf) url(raleway/static/Raleway-SemiBoldItalic.ttf) url(raleway/static/Raleway-Thin.ttf)
    url(raleway/static/Raleway-ThinItalic.ttf);
}

#activites
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin: 20px;
    height: 390px;
}
    
#activites div
{
    display: flex;
    max-height: 390px;
    border: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 1em gray;
}

#vieuxport
{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    background-image: url("../Reservia/images/activites/2_large/vieuxport.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 40%;
}

#pomegues
{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url("../Reservia/images/activites/2_large/pomegues.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50%;
}

#frioul
{
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background-image: url("../Reservia/images/activites/2_large/frioul.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 60%;
    margin-top: 20px;
    z-index: 2;
}

#calanque
{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    background-image: url("../Reservia/images/activites/2_large/calanques.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 35%;
}

#lagarde
{
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url("../Reservia/images/activites/2_large/lagarde.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#longchamp
{
    background-image: url("../Reservia/images/activites/2_large/longchamp.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 30%;
    z-index: 2;
}

#vieuxport h4
{
    position: relative;
    top: 320px;
    background-color: white;
    padding-top: 10px;
    padding-left: 10px;
    inline-size: 100%;
}

#pomegues h4
{
    position: relative; z-index: 1;
    top: 130px;
    background-color: white;
    padding-top: 10px;
    padding-left: 10px;
    inline-size: 100%;
}

#frioul h4
{
    position: relative;
    top: 97px;
    background-color: white;
    padding-top: 10px;
    padding-left: 10px;
    inline-size: 100%;
}

#calanque h4
{
    position: relative;
    top: 320px;
    background-color: white;
    padding-top: 10px;
    padding-left: 10px;
    inline-size: 100%;
}

#lagarde h4
{
    position: relative; z-index: 1;
    top: 120px;
    background-color: white;
    padding-top: 10px;
    padding-left: 10px;
    inline-size: 100%;
}

#longchamp h4
{
    position: relative;
    top: 117px;
    background-color: white;
    padding-top: 10px;
    padding-left: 10px;
    inline-size: 100%;
}

