@font-face
{
    font-family: "Raleway";
    src: url(raleway/static/Raleway-Black.ttf) url(raleway/static/Raleway-BlackItalic.ttf) url(raleway/static/Raleway-BoldItalic.ttf) url(raleway/static/Raleway-Bold.ttf) url(raleway/static/Raleway-ExtraLight.ttf) 
    url(raleway/static/Raleway-ExtraLightItalic.ttf) url(raleway/static/Raleway-Italic.ttf) url(raleway/static/Raleway-Light.ttf) url(raleway/static/Raleway-LightItalic.ttf) url(raleway/static/Raleway-Medium.ttf) 
    url(raleway/static/Raleway-MediumItalic.ttf) url(raleway/static/Raleway-Regular.ttf) url(raleway/static/Raleway-SemiBold.ttf) url(raleway/static/Raleway-SemiBoldItalic.ttf) url(raleway/static/Raleway-Thin.ttf)
    url(raleway/static/Raleway-ThinItalic.ttf);
}

#hebergements
{
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 40px 20px;
}

#resultats
{
    display: grid;
    background-color: rgb(207, 219, 221);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 2fr 2fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    flex-basis: 65%;
    padding-right: 14px;
}

#resultats h3
{
    grid-column-start: 1;
    grid-column-end: 4;
    margin: 25px 0 0 20px;
}

#resultats article
{
    display: block;
    position: relative;
    height: 170px;
    width: 230px;
    margin: 5px 5px 5px 20px;
    border-radius: 8px;
    background-color: white;
    overflow: hidden;
}

#resultats img
{
    position: relative; z-index: 1;
    border-radius: 10px;
    margin: auto;
    border: solid white;
    width: 90%;
    height: 70%;
    left: 8px;
}

#resultats div
{
    position: absolute; z-index: 2;
    bottom: -1em; 
    background-color: white;
    font-size: small;
    margin-left: 9px;
    inline-size: 100%;
}

#resultats h4
{
    position: relative;
    top: -1em;
}

article p
{
    font-size: 12px;
    position: relative;
    top: -2em;
    margin-top: 1px;
    margin-bottom: 0;
    background-color: white;
}

span
{
    font-weight: bold;
}

#resultats i
{
    position: relative;
    top: -2em;
    color: blue;
    background-color: white;
    font-size: smaller;
}

#cannebiere i:nth-of-type(5)
{
    color: grey;
}
#mouettes i:nth-of-type(5)
{
    color: grey;
}
#panier i:nth-of-type(5)
{
    color: grey;
}
#hmer i:nth-of-type(4)
{
    color: grey;
}
#hmer i:nth-of-type(5)
{
    color: grey;
}

#populaires
{
    display: grid;
    background-color: rgb(207, 219, 221);
    grid-template-rows: 15% repeat(3, 25%);
    grid-row-gap: 15px;
    flex-basis: 32%;
    border-left: 20px;
}

#populaires h3
{
    margin-left: 20px;
    margin-top: 35px;
}

#populaires article
{
    position: relative;
    display: flex;
    margin: auto;
    width: 300px;
    height: 130px;
    border: solid white;
    border-radius: 8px;
    background-color: white;
    overflow: hidden;
}

#populaires img
{
    width: 70%;
    height: 98%;
    position: relative; z-index: 1;
    left: -30px;
    margin: auto;
    border: blanchedalmond;
    border-radius: 8px;
}

#populaires div
{
    position: absolute; z-index: 2;
    left: 45%;
    background-color: white;
    font-size: medium;
    padding-left: 15px;
    border-radius: 10px;
    border-top-left-radius: 0;
}

#populaires div h4:nth-child(1)
{
    margin-bottom: 0;
}

#populaires div h4:nth-child(2)
{
    margin-top: 0;
}

#populaires p
{
    padding-top: 10px;
    padding-bottom: 20px;
}

#populaires i
{
    position: relative;
    top: -2em;
    color: blue;
    background-color: white;
    font-size: smaller;
}

#coeureau i:nth-of-type(5)
{
    color: grey;
}
#bleublanc i:nth-of-type(5)
{
    color: grey;
}

#actmars h3
{
    margin-left: 20px;
}