@media screen and (max-width: 299px)
{
    main { width: 85%; 
           font-size: 11px; }  
    #locate { height: 20px; 
              display: grid; 
              grid-template-columns: 20% 80%; }
    #locate .icone-emplacement { width: 80%; 
                                 margin: auto;
                                 text-align: center; }
    #locate p { width: 90%; 
                margin-top: 6px; }
    #select { height: 120px;
              min-width: 60%; }
    #select h2, p { margin: 0; 
                    font-size: 8px;
                    width: 100%; }
    .btn { width: 50%; 
           height: auto;
           margin-bottom: 5px; }
    #function .choice { width: 65%; 
                        height: 20%; }
    #function .number { display: none; }
    #function h4 { color: #9356DC; }
    #restos h2 { text-align: center; }
    #restos img { object-position: bottom;
                  height: 120px; }
    #restos article { height: 150px; }
    #restos .new { right: -15px; 
                   bottom: 110px; }
    #restos .fa-heart { font-size: 14px; 
                        left: 160px; 
                        bottom: 22px; }
    footer div { font-size: 14px; }
    footer { text-align: center; }
    footer h2 { padding-top: 6px; }
    article { flex-wrap: nowrap; 
              object-fit: contain; }
    article #rest-legend { height: 20px; 
                           margin-top: 0; }
                h1 { font-size: 10px; }
    article .menu-choice { width: 70%; }
                h3 { text-align: justify; }
    article #entrees, article #plats, article #desserts { display: block;
                                                          margin-left: 10px; }
    article .btn { width: 100%; 
                   margin-left: 10px; }
    .btn-menu { width: 70%; 
                grid-template-columns: 70% 30%; }   
        span { text-align: right; }
    .btn-menu:hover span { transform: translateX(-30px); }  
    .btn-menu:hover .fa-check-circle { transform: rotateX(-360deg) translateX(-10px); }
}

@media screen and (min-width: 300px) and (max-width: 479px)
{
    main { width: 60%; }
    #locate .icone-emplacement { width: 20%;
                                 text-align: right; }
    #locate p { width: 80%;
                text-align: center; }
    #select { height: 200px; }
    #select h2, p { margin: auto; }
    #select h2 { font-size: 14px; }
    #select p { width: 60%; 
                font-size: 10px; }
    .btn { width: 160px; 
           font-size: 12px; 
           margin-top: 12px; }
    #function h4 { width: 40%; 
                   font-size: 12px;
                   text-align: center; }
    #function .number { width: 10%; 
                        text-align: center;
                        border-radius: 55%; }
    #restos img { object-position: bottom; }
    #restos .new { right: -15px; }
    #restos h3 { font-size: 14px; }
    #restos p { font-size: 12px; }
    #restos .fa-heart { font-size: 14px; 
                        left: 120px; 
                        bottom: 22px; }
    footer div, p { font-size: 14px; }
    footer { text-align: center; }
    article { flex-wrap: nowrap; 
              font-size: 10px;
              object-fit: contain; }
    article #rest-legend { height: 20px; 
                           margin-top: 0; }
    article .menu-choice { width: 70%;}
                h3 { text-align: justify; }
    article #entrees, article #plats, article #desserts { display: block;
                                                          margin-left: 10px; }
    article .btn { width: 100%; 
                   margin-left: 10px; }
    .btn-menu { width: 75%; 
                grid-template-columns: 70% 30%; }
        p { font-size: 10px; 
            white-space: normal; } 
        span { text-align: right;
               margin-right: 6px; }    
    .btn-menu:hover span { transform: translateX(-25px); }  
    .btn-menu:hover .fa-check-circle { transform: rotateX(-360deg) translateX(-10px); }    
}

@media screen and (min-width: 768px) 
{
    h2 { text-align: center; }
    #function { height: 140px; 
                font-size: 14px;
                margin: auto;
                display: grid;
                grid-template-columns: repeat(3, 31%); }
    #function .choice { width: 80%; 
                        height: 40%; }
    #function .number { width: 14%;
                        right: 6px; }
    #function i { margin-left: 10px;
                  margin-right: 10px; }
    #function h4 { text-align: center;
                   padding-left: 0; }
    #restos { display: grid; 
              grid-template-columns: 50% 50%;
              grid-template-rows: 16% 42% 42%; }
    #restos img { object-position: 0; }
    #restos h2 { grid-area: 1 / 1 / 2 / 3; 
                 width: 100%;
                 text-align: center; }
    footer { text-align: center; }
    article #entrees, article #plats, article #desserts { display: grid; 
                                                          grid-template-columns: repeat(3, 1fr); 
                                                          grid-template-rows: repeat(2, 1fr);}
    article h1 { text-align: center; }
    article #menu { margin: auto; }
    article .menu-choice { grid-area: 1 / 1 / 2 / 4; }
                h3 { margin: auto; }
    .btn-menu:hover span { z-index: 2; 
                           transform: translateX(0px); }
    .btn-menu:hover p { z-index: 1; 
                        opacity: 0.2;
                        overflow: hidden; }
    .btn-menu:hover .fa-check-circle { transform: rotateX(-360deg) translateY(-10px); }
}