@media screen and (max-width: 480px)
{
    header { display: grid; 
             grid-template: "a a"; }
    #haut-de-page h3 { font-size: 28px; }
    nav li { display: flex; 
          flex-direction: row-reverse; }
    nav li:nth-child(3) { flex: 1; 
                           order: 1; }    
    .filtres { display: grid; 
               grid-template: "a a" ; 
               justify-content: left; }    
    .titres { grid-area: 1/ 1/ 2/ 3; }
    .btn:nth-child(4) { grid-area: 3/ 1/ 4/ 3;}
    .btn { width: max-content;
           margin-top: 15px;
           margin-right: 0; }    
    #hebergements { flex-direction: column-reverse; }
    #resultats { background-color: white; }
    .resultats-2 { display: flex;
                   flex-direction: column; } 
    #resultats article { height: 180px; }
    #resultats h4 { top: -22px; }
    .resultats-2 p { top: -42px; }
    .resultats-2 div { margin-left: 10px; }
    #resultats i { top: -54px; 
                   font-size: 10px; }
    #resultats img { height: 120px; }
    #populaires { border-radius: 20px 20px 0 0; }   
    #activites { flex-flow: column wrap;
                 height: 150%; }
    .act-1 { display: flex;
             flex-direction: column;
             margin: auto;
             width: 85%; }
    #activites div { height: 180px; 
                     margin: 20px 0 20px 0; }             
    .act-2 { display: flex; 
             flex-direction: column; 
             margin: auto;
             width: 85%; } 
    #activites h4 { height: 30px;
                    top: 120px; }
    #actmars h3 { margin: 0 0 10px 30px; }
    footer { display: flex; 
             flex-direction: column; }
    /*.icon-recherche:before { display: none;*/         
}
