@font-face
{
    font-family: "Raleway";
    src: url(raleway/static/Raleway-Black.ttf) url(raleway/static/Raleway-BlackItalic.ttf) url(raleway/static/Raleway-BoldItalic.ttf) url(raleway/static/Raleway-Bold.ttf) url(raleway/static/Raleway-ExtraLight.ttf) 
    url(raleway/static/Raleway-ExtraLightItalic.ttf) url(raleway/static/Raleway-Italic.ttf) url(raleway/static/Raleway-Light.ttf) url(raleway/static/Raleway-LightItalic.ttf) url(raleway/static/Raleway-Medium.ttf) 
    url(raleway/static/Raleway-MediumItalic.ttf) url(raleway/static/Raleway-Regular.ttf) url(raleway/static/Raleway-SemiBold.ttf) url(raleway/static/Raleway-SemiBoldItalic.ttf) url(raleway/static/Raleway-Thin.ttf)
    url(raleway/static/Raleway-ThinItalic.ttf);
}

#haut-de-page
{
    margin-left: 20px;
}

#haut-de-page h3
{
    margin-bottom: 0;
}

#haut-de-page p
{
    margin-top: 4px;
    margin-bottom: 12px;
}

*.map-marker-alt
{
    padding: 0;
}

input
{
    border: solid black;
    font-size: medium;
    height: 30px;
    border-width: 1px;
}
#search
{
    background-color: blue;
    color: white;
    border-width: 1px;
    border-left-width: 0;
    height: 30px;
    font-size: medium;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.filtres
{
    display: inline-flex;
    justify-content: space-evenly;
    margin-top: 16px;
    font-weight: bold;
}

.filtres button 
{
    font-weight: bold;
    border-radius: 18px;
    height: 40px;
    margin-right: 10px;
}

.filtres button:nth-child(1)
{
    margin-left: 10px;
}

i[class~="alt"]
{
    font-size: medium;
}

