@font-face
{
    font-family: "Raleway";
    src: url(raleway/static/Raleway-Black.ttf) url(raleway/static/Raleway-BlackItalic.ttf) url(raleway/static/Raleway-BoldItalic.ttf) url(raleway/static/Raleway-Bold.ttf) url(raleway/static/Raleway-ExtraLight.ttf) 
    url(raleway/static/Raleway-ExtraLightItalic.ttf) url(raleway/static/Raleway-Italic.ttf) url(raleway/static/Raleway-Light.ttf) url(raleway/static/Raleway-LightItalic.ttf) url(raleway/static/Raleway-Medium.ttf) 
    url(raleway/static/Raleway-MediumItalic.ttf) url(raleway/static/Raleway-Regular.ttf) url(raleway/static/Raleway-SemiBold.ttf) url(raleway/static/Raleway-SemiBoldItalic.ttf) url(raleway/static/Raleway-Thin.ttf)
    url(raleway/static/Raleway-ThinItalic.ttf);
}

header
{
    position: relative;
    display: inline-flex;
    inline-size: 100%;
    justify-content: flex-end;
}

.logo
{
    position: absolute;
    left: 0;
    bottom: 12px;
    height: 30px;
    width: 60px;
    margin-left: 20px;
}

nav ul
{
    list-style-type: none;
    display: flex;
    margin-right: 20px;
}

nav li
{
    margin-right: 30px;
    color: blue;
}

nav a
{
    text-decoration: none;
}

nav li:hover
{
    text-decoration: overline;
    text-decoration-color: blue;
}

#haut-de-page
{
    margin-left: 20px;
}

#haut-de-page h3
{
    margin-bottom: 0;
}

#haut-de-page p
{
    margin-top: 4px;
}

#map
{
    padding: 0;
    height: 30px;
    width: 30px;
}

input
{
    border: solid black;
    font-size: medium;
    height: 30px;
    border-width: 1px;
}

#search
{
    width: 130px;
    height: 20px;
    min-width: 50px;
    min-height: 40px;
    background-color: #0065fc;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    cursor: pointer;
}

.filtres
{
    margin-bottom: 20px;
}

.filtres span
{
    margin-right: 20px;
}

.recherche input {
    height: 20px;
    min-width: 20px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #f2f2f2;
    outline: none;
}

/*Le l'icon dans le bouton : Je met juste des padding et un background-color et j'arrondi les bords */
.circle-icon {
    padding: 1em;
    border-radius: 50px;
    color: #0065fc;
    background-color: #deebff;
    float: left;
    align-items: center;
}
/*Pour le bouton je supprime jes espaces  et je fais le reste du style */
.btn {
    font-weight: bold;
    border: 2px solid #d9d9d9;
    border-radius: 40px;
    display: inline-flex;
    padding: 0 0 0 0;
    margin-right: 10px;
}
/*J'ai mi le texte dans un p pour l'aligner avec l'icon*/
.btn p {
    float: left;
    padding: 10px 10px 0 10px;
}

.icone-emplacement {
    display: inline-block;
    background-color: #f1eeee;
    padding: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.recherche {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

*.fa-info
{
    color: blue;
    width: 8px;
}

#info
{
    border-radius: 10px;
    border-width: 1px;
}

footer
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    background-color: #f2f2f2;
    width: 100%;
    margin-top: 50px;
}

footer ul
{
    list-style-type: none;
}

h3
{
    font-size: 25px;
}
